<div id="messages"></div>

<%= navbar position: :bottom do %>
  <form class="message">
    <div class="row">
      <div class="col-xs-8 col-sm-9"><textarea class="form-control message" placeholder="Your message"></textarea></div>
      <div class="col-xs-4 col-sm-3"><button type="button" class="btn btn-large btn-primary submit"><i class="fa fa-paper-plane"></i> Submit</button></div>
    </div>
  </form>
<% end %>